//
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green,
    ),
  ),
);
// @import "element-plus/theme-chalk/src/index.scss";

$dfcolor: #2D68EB; //主色调
$colorsky: #EAF0FD; //辅助色
$colorred: #E40000; //辅助色
$coloryellow: #FFBF00; //辅助色
$color333: #333333; //文字
$color666: #666666; //文字
$color999: #999999; //文字
$colorbbb: #bbbbbb; //站位
$colorddd: #dddddd; //边框色
$coloreee: #eeeeee; //线条色
$bgcolor: #F7F8FA; //背景色